{% extends "base.html" %}
{% block title %} Hello2 {% endblock %}
{% block styles %}
    <link href="/static/tc-assets/css/tablecloth.css" rel="stylesheet">
    <link href="/static/tc-assets/css/prettify.css" rel="stylesheet"> 
 {% endblock %}

{% block content %}
<div class="col-md-8">
<H1>{{ header }}</H1><BR>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-8">
			<div class="navbar-header">Line type:
			<div class="btn-group btn-group-sm" id="line_select_group">
				<button class="btn btn-default" table="table_all">All<button class="btn btn-default" table="table_f">F</button><button class="btn btn-default" table="table_d">D</button><button class="btn btn-default" table="table_pp">PP</button>
			</div>
		</div>

			<table cellspacing="1" cellpadding="3" class="tablehead hide" style="background:#CCC;" id="table_all">
			<thead>
				<tr class="stathead">
					<th class="{sorter : false}">LINE</th>
					<th>GOALS</th>
					<th>SHOTS</th>
					<th>BLOCKS</th>
					<th>HITS</th>
					<th>TOI</th>
				</tr>
			</thead>
			<tbody>
			{% for result in results_all%}
				<tr>
					<td>
					{% for playergame in result.playergames.all %}
						{{playergame.player.last_name}}
						{% if not forloop.last %}
							-
						{% endif %}
					{% endfor %}
					</td>
					<td>
						{{ result.goals }}
					</td>
					<td>
						{{ result.shots }}
					</td>
					<td>
						{{ result.blocks }}
					</td>
					<td>
						{{ result.hits }}
					</td>
					<td>
						{{ result.ice_time_str }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
			<table cellspacing="1" cellpadding="3" class="tablehead hide" style="background:#CCC;" id="table_f">
			<thead>
				<tr class="stathead">
					<th class="{sorter : false}">LINE</th>
					<th>GOALS</th>
					<th>SHOTS</th>
					<th>BLOCKS</th>
					<th>HITS</th>
					<th>TOI</th>
				</tr>
			</thead>
			<tbody>
			{% for result in results_f%}
				<tr>
					<td>
					{% for playergame in result.playergames.all %}
						{{playergame.player.last_name}}
						{% if not forloop.last %}
							-
						{% endif %}
					{% endfor %}
					</td>
					<td>
						{{ result.goals }}
					</td>
					<td>
						{{ result.shots }}
					</td>
					<td>
						{{ result.blocks }}
					</td>
					<td>
						{{ result.hits }}
					</td>
					<td>
						{{ result.ice_time_str }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
			<table cellspacing="1" cellpadding="3" class="tablehead hide" style="background:#CCC;" id="table_d">
			<thead>
				<tr class="stathead">
					<th class="{sorter : false}">LINE</th>
					<th>GOALS</th>
					<th>SHOTS</th>
					<th>BLOCKS</th>
					<th>HITS</th>
					<th>TOI</th>
				</tr>
			</thead>
			<tbody>
			{% for result in results_d%}
				<tr>
					<td>
					{% for playergame in result.playergames.all %}
						{{playergame.player.last_name}}
						{% if not forloop.last %}
							-
						{% endif %}
					{% endfor %}
					</td>
					<td>
						{{ result.goals }}
					</td>
					<td>
						{{ result.shots }}
					</td>
					<td>
						{{ result.blocks }}
					</td>
					<td>
						{{ result.hits }}
					</td>
					<td>
						{{ result.ice_time_str }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>

		<table cellspacing="1" cellpadding="3" class="tablehead hide" style="background:#CCC;" id="table_pp">
			<thead>
				<tr class="stathead">
					<th class="{sorter : false}">LINE</th>
					<th>GOALS</th>
					<th>SHOTS</th>
					<th>BLOCKS</th>
					<th>HITS</th>
					<th>TOI</th>
				</tr>
			</thead>
			<tbody>
			{% for result in results_pp%}
				<tr>
					<td>
					{% for playergame in result.playergames.all %}
						{{playergame.player.last_name}}
						{% if not forloop.last %}
							-
						{% endif %}
					{% endfor %}
					</td>
					<td>
						{{ result.goals }}
					</td>
					<td>
						{{ result.shots }}
					</td>
					<td>
						{{ result.blocks }}
					</td>
					<td>
						{{ result.hits }}
					</td>
					<td>
						{{ result.ice_time_str }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
		</table>
		</div>
	</div>
</div>

    <script src="/static/tc-assets/js/jquery.metadata.js"></script>
    <script src="/static/tc-assets/js/jquery.tablesorter.min.js"></script>
    <script src="/static/tc-assets/js/jquery.tablecloth.js"></script>
    
    <script type="text/javascript" charset="utf-8">
      $(document).ready(function() {
        $("table").tablecloth({
          theme: "stats",
          striped: true,
          sortable: true,
          condensed: true
        });

		//Switch for turning the different tables on and off
        function turnOn(element) {
        	element.addClass("btn-success");
        	element.removeClass("btn-default");
        	$("#" + element.attr("table")).removeClass("hide");
        };

        function turnOff(element) {
        	element.removeClass("btn-success");
        	element.addClass("btn-default");
        	$("#" + element.attr("table")).addClass("hide");

        };

        //Set the Forwards table as the currently activated table
        current = $("button[table='table_f']");

        //Event handler for activating tables
        $("#line_select_group>button").click( function() { 
        	if (current !== $(this)){
        		turnOff(current);
        		current = $(this);
        		turnOn(current);
        	}

        });

        //Turn on the Forwards table
        turnOn(current);

      });
    </script>


{% endblock %}